<div class="bg-dark">
    <!-- HEADER -->
    <header class="navbar navbar-light bg-light">
        <div class="text-dark display-3 mb-0 text-center">
            <a class="text-decoration-none"href="/">
                <img class="d-inline-block mr-4 ml-2" width="64" height="64" src="/images/logo.png" alt="">
            </a>
            ForDogs
        </div>
    </header>

    <!-- MAIN -->
    <div class="container mt-5 mb-3">
    <form action="/sign-up" method="POST" class="bg-light text-black w-75 rounded m-auto" novalidate>
        <p class="h1 font-weight-light pt-3 p-2 text-center">Sign Up</p>
        {{#if errors.message_fill}}
            <br>
            <p class="h3 font-weight-normal text-center">{{errors.message_fill}}</p>
        {{/if}}
        <div class="form-group p-2">
            <label for="name" class="mt-4">Name</label>
            <input required type="text" class="form-control" id="name" name="name" placeholder="Your name" value={{name}} >
        </div>
        <div class="form-group p-2">
            <svg class="mb-1" width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-at" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914z"/>
            </svg>
            <label for="name">Username</label>
            <input required type="text" class="form-control" id="username" name="username" placeholder="Create an username" value={{username}} >
        </div>
        <div class="form-group p-2">
            <svg class="mb-1" width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
            </svg>
            <label for="email">Email</label>
            <input required type="email" class="form-control" id="email" name="email" placeholder="Enter email" value={{email}} >
            {{#if errors.message_email_exist}}
                <p class="h5 font-weight-normal text-center">{{errors.message_email_exist}} <a href="/">log in</a></p>
            {{/if}}
        </div>
        <div class="form-group p-2">
            <svg class="mb-1" width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-lock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
            </svg>
            <label for="password">Enter password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
            {{#if errors.message_pass_length}}
                <p class="text-danger">{{errors.message_pass_length}}</p>
            {{/if}}
            {{#if errors.message_pass_match}}
                <p class="text-danger">{{errors.message_pass_match}}</p>
            {{/if}}
        </div>
        <div class="form-group p-2">
            <label for="confirmpassword">Confirm password</label>
            <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm password" required>
            {{#if errors.message_pass_match}}
                <br>
                <p class="text-danger">{{errors.message_pass_match}}</p>
            {{/if}}
        </div>
        <div class="text-center">
            <p class="bg-danger text-white w-75 m-auto rounded p-2 h4 d-none" id="fillAll">Please fill in all the fields</p>
            <input type="submit" class="btn btn-primary mb-5 m-2" value="Sign up">

        </div>
        <a class="bg-secondary w-100 text-white d-block py-1 text-center border-top-0 border-dark rounded-bottom" href="/">Already have an account, Sign in.</a>
    </form>
    </div>



     <!-- FOOTER -->
    <footer class="w-100 bg-light">
        <div class="container text-center p-2">
            <p class="h5 p-3">&copy; 2020 ForDogs</p>
        </div>
    </footer>

</div>
